/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-size: cover;
  background-image: var(--background-image);
  line-height: normal;
  font-variation-settings:"wght" var(--text-font-weight);
  background-attachment:fixed;
  font-style: normal;
}

.header {
  margin: 102px auto 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(375px, 48.34%, 796px);
  font-family: var(--accent-font, sans-serif);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  width: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  height: clamp(20.438rem, 18.607rem + 4.881vw, 23rem);
}

.logotype {
  margin: clamp(120px, 2.2em, 136px) auto 20px;
  font-size: clamp(3.063rem, 2.348rem + 1.905vw, 4.063rem);
}

.h1 {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.473rem + 1.071vw, 1.438rem);
  font-style: normal;
  font-weight: var(--text-font-weight);
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu {
  margin-bottom: 25px;
}

.theme-menu__list {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 14px;
  margin-right: -18px;
}

.theme-menu__button {
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}

.card {
  background-color: var(--background-color);
  width: clamp(23.438rem, 9.107rem + 38.214vw, 43.5rem);
  margin: 0 auto 50px;
  font-family: var(--main-font, sans-serif);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
}

.picture {
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  width: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  height: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  border:2px solid var(--accent-color)
}

.h2 {
  padding: 3px 10px 3px 7px;
  font-variation-settings:"wght" var(--heading-font-weight);
  font-size: 18px;
  line-height: normal;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
  font-weight: var(--text-font-weight);
  line-height: 21px;
  font-size: 18px;
  font-style: normal;
}

.card__buttons {
  display: flex;
  justify-content: end;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  background-color: var(--background-color);
  border: none;
  transition: border-color 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: var(--text-font-weight);
  font-family: var(--accent-font, sans-serif);
  mix-blend-mode: difference;
  color: var(--button-color);
  font-style: normal;
}

.card__pic {
  position: relative;
}

.card__label {
  z-index: 1;
  position: absolute;
  right: clamp(0.688rem, 0.063rem + 1.667vw, 1.563rem);
  top: 25px;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font, sans-serif);
  font-weight: var(--text-font-weight);
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color) 0 -1px var(--background-color);
  line-height: normal;
  font-style: normal;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
}

.theme-menu__button:focus {
  opacity: 0.6;
  border: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: black;
  transform-origin: left;
  transition: width 300ms;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  scale: 1;
  margin-left: -20px;
  animation: triang 0.5s alternate ease-in-out infinite;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
  scale: 1;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.send-button {
  margin: 54px auto 105px auto;
  display: flex;
  background: var(--background-color);
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border: 2px solid var(--accent-color);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  position: relative;
}

.send {
  width: 21px;
height: 21px;
  mix-blend-mode: difference;
  color: var(--button-color);
}

.button-animation:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  border: 1px solid var(--accent-color);
  scale: 1;
}

.button-animation {
  position: relative;
}

button {
  cursor: pointer;
}

.card__like-button {
  background-color: var(--background-color);
  position: relative;
  border-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  width: 130px;
  height: 38px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.card__like-button:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  transform-origin: left;
}

.send-button:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  transform-origin: left;
}

.card__like-button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.send-button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.send-button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border-color 0.3s ease;
}

.sparks {
  opacity: 0;
}

.dialog[open] .modal-send {
  display: flex;
  gap: 20px;
}

.dialog {
  font-size: 14px;
  max-width: 357px;
  padding-inline: 30px;
  padding-block: 30px;
  background-color:var(--background-color)
}

.dialog-send {
  width: 39px;
  height: 39px;
}

.dialig-text {
  line-height: 150%;
  text-transform: uppercase;
  font-family: var(--accent-font, sans-serif);
  max-width: clamp(12.375rem, 10.768rem + 4.286vw, 14.625rem);
  color:var(--accent-color)
}

.dialog-button {
  position: relative;
  line-height: 90%;
  text-transform: uppercase;
  font-family: var(--accent-font, sans-serif);
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  width: clamp(13.938rem, 12.33rem + 4.286vw, 16.188rem);
  height: 38px;
  margin: 0 auto;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  background-color: var(--background-color);

}


.dialog[open] .dialog-button:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  transform-origin: left;
}

.dialog[open] .dialog-button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.dialog[open] .dialog-button:hover::before {
  transform: scaleX(1);
}

.dialog[open] .modal {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.picture__1 {
  filter: brightness(150%);
}

.picture__2 {
  filter: contrast(20%);
}

.picture__3 {
  filter: blur(3.2rem);
}

.picture__4 {
  filter: opacity(0.7);
}

.picture__5 {
  filter: grayscale(0.8);
}

.picture__6 {
  filter: saturate(58%);
}

.picture__7 {
  filter: invert(1) saturate(60%) hue-rotate(90deg);
}

@media (max-width: 500px) {
  .send-button {
      display: flex;
      flex-direction: column;
  }

  .send {
      width: 28px;
      height: 28px;
  }
}

.dialog{
  border:2px solid var(--accent-color);
}