/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root.theme-light {
    --main-font:'Inter';
    --accent-font:'PressStart2P';
    --heading-font-weight:700;
    --text-font-weight:400;
    --background-color:#FFF;
    --accent-color:#000;
    --background-image:repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
    --button-color:#FFF;
    --heart-filling-red:#FF0000;
  }

  :root.theme-dark {
    --main-font:'Inter';
    --accent-font:'PressStart2P';
    --heading-font-weight:785;
    --text-font-weight:465;
    --background-color:#000;
    --accent-color:#00CC14;
    --background-image:repeating-linear-gradient(to right, #000 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#007f0c 0 0.01%, #004306);
    --button-color:#00CC14;
    --heart-filling-red:#FF0000;
  }

  @media (prefers-color-scheme: light) {
    :root.theme-auto {
        --main-font:'Inter';
        --accent-font:'PressStart2P';
        --heading-font-weight:700;
        --text-font-weight:400;
        --background-color:#FFF;
        --accent-color:#000;
        --background-image:repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
        linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
        --button-color:#FFF;
        --heart-filling-red:#FF0000;
    }
}